<% layout('./layouts/boilerplate') %>

<%- include("../partials/navbar") %>
     
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3 justify-content-evenly">
        <div class="col-lg-3 mt-3 d-flex">
            <div class="card h-100">
                <img src="<%= foundProduct.img %>" class="card-img-top" alt="..." style="height:250px; object-fit:cover;">
                <div class="card-body text-center">
                    <h2 class="card-title"><%= foundProduct.name %></h2>
                    <h5 class="card-title">Rs <%= foundProduct.price %></h5>
                    <p class="card-text"><%= foundProduct.desc %></p>
                    <a href="/product/<%= foundProduct._id %>/edit" class="btn btn-info">edit</a>                    
                    <a href="#" class="btn btn-secondary">add to cart</a>
                    <a href="#" class="btn btn-success">buy</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-3 d-flex">
            <h2>Leave a Review</h2>
        </div>
    </div>



</body>
</html>